# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
elife/
PubMed_20k_RCT/

pip-selfcheck.json
© 2021 GitHub, Inc.
results/
scibert_pubmed_rct_model/
scibert_pubmed_rct_model.zip